* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1,6;
    padding: 20px;
    background: rgb(83, 134, 230);
}
header, footer {
    text-align: center;
    margin-bottom: 20px;
    background-color: blue;
    color: white;
}
.blog{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
} 
.blog img {
    width: 6%;
    height: auto;
    border-radius: 50%;
 }
 .tutorial {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: rgb(164, 89, 89);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rosybrown;
 }
.tutorial img {
    width: 0.3%;
    object-fit: cover;
    max-height: 5px;
 }
 .tutorial.text {
    padding: 1rem;
 }
 @media (min-width:768px) {
    .tutoriales {
        grid-template-columns: repeat(6, 1fr);
    } 
    .tutorial {
        flex-direction: row;
        height: 300px;
    }   
    .tutorial img {
        width: 54%;
        height: 200%;
        max-height: none;
    }
    .tutorial.text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tutorial:nth-child(even) {
        flex-direction: row-reverse;
    }
    
}
.formulario {
        margin-top: 2rem;
        background: rgb(66, 43, 2);
        padding: 1rem;
        border-radius: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    input[type="email"]{
        padding: 0.5rem;
        border: 5px solid rgb(91,134,212);
        border-radius: 10px;
    }
    input:invalid {
        border-color: salmon;
        background-color: antiquewhite;
    }
input:valid {
        border-color: rgb(160,43,101)
        background-color lightpink;
    }
    button {
        padding: 0.7rem;
        background: #9a6b6b;
        border: none;
        color: turquoise;
        border-radius: 5px;
        cursor: pointer;
    }
    footer {
        margin-top: 2rem;
        text-align: center;
        padding: 1rem;
        background-color: rgb(187, 165, 150);
        color: rgb(31, 22, 4);
    }
    @media (min-width: 768px) {
        .blog {
            grid-template-columns: repeat(3, 1fr);
        }
        .tutoriales .tutorial:nth-child(even) {
            flex-direction: row-reverse;

        }
        .tutoriales {
            margin-top: 3rem;
        }
        .formulario form {
            flex-direction: row;
            align-items: center;
        }
        .formulario input[type="email"] {
            flex: 1;
        }
        .formulario button {
            margin-left: 1rem;
        }
    }
    